body {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* ---------Header BOX1---------- */
.container1 {
    width: 100%;
}

#box1 {
    background-color: rgb(251, 207, 190);
}


.imgbox1 {
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(15%);
}

.img1 {
    width: 382.8px;
    border-radius: 50%;
}

.name1 {
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(15%);
}

.name {
    font-family: 'Parisienne', cursive;
    font-size: 75px;
    transform: translateY(-25%);
}

.prof {
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(15%);
}

.prof1 {
    font-family: 'Parisienne', cursive;
    font-size: 50px;
    font-weight: 500;
    transform: translateY(-30%);
}

.chevron {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;

}

.chevronleft1 {
    width: 150px;
    position: relative;
    right: 14%;
}


.chevronright1 {
    width: 150px;
    position: relative;
    left: 14%;
}

/* ---------Fin Header---------- */

/* --------Entête2 BOX2------------- */
#box2 {
    background-color: rgb(251, 207, 190);
}

.strokes {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about1 {
    font-size: 40px;
    text-align: center;
    transform: translateY(30%);
}

/* ----------Fin Entête2------------ */

/* -----------Button CV BOX3-------------- */
#box3 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(251, 207, 190);
    height: 100px;
}

#btnCV {
    width: 175px;
    background-color: #ff9081;
    transform: translateY(30%);
}

#btnCV:hover {
    background-color: #fc8171;
}

/* -------------Fin Button----------------------- */

/* -------------------Presentation BOX4------------- */
.container4 {
    font-family: 'Bad Script', cursive;
    color: black;
    
}

#box4-4 {
    background-color: rgb(251, 207, 190);
}

#box4-5 {
    background-color: rgb(251, 207, 190);
}

#box4-6 {
    background-color: rgb(251, 207, 190);
}

.biotitle {
    margin-top: 15px;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    color: #212529;
}

.bio {
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 10px;
    text-align: center;
    font-size: 30px;
}

.citation {
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 10px;
    text-align: center;
    font-size: 20px;
}

/* ---------------------Fin presentation------------------------- */

/* ---------------------FORMULAIRE DE CONTACT BOX5--------------- */
.container5 {
    background-color: #f89386;
}

#box5 {
    background-color: #f89386;
}

.strokes2 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 20px;
}

.stroke3 {
    border-top: 2px solid #212529;
    width: 383.6px;
    position: relative;
    right: 2%;
    bottom: 10%;
}

.stroke4 {
    border-top: 2px solid #212529;
    width: 383.6px;
    position: relative;
    left: 2%;
    bottom: 10%;
}



.formtitle {
    display: flex;
    align-items: center;
    justify-content: center;
}

.inputs {
    margin-top: 20px;
}

.input-group {
    width: 450px !important;
    margin: 0 auto;
}

#fc4 {
    height: 50px;
}

#linkedin {
    width: 150px;
    position: relative;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
}

#btnSend {
    width: 175px;
    background-color: rgb(251, 207, 190);
    position: relative;
    bottom: 4px;
    left: 50%;
    transform: translateX(-50%);
}

small {
    color: #212529;
    width: 450px !important;
    margin: 0 auto;
}

/* ----------CREDIT-------------------- */
#box6 {
    background-color: rgb(251, 207, 190);
}

.credit {
    text-align: center;
    background-color: rgb(251, 207, 190);
}

/* -----------------Fin CREDIT-------------- */
/*  ----------------MEDIA QUERIES------------------ */

@media only screen and (min-width:554px) and (max-width: 580px) {
    .credit {
        font-size: 15px;
    }
    .biotitle {
        margin-top: 15px;
        text-align: center;
        font-weight: bold;
        font-size: 40px;
        color: #212529;
    }
}

@media only screen and (min-width:482px) and (max-width: 502px) {
    .credit {
        font-size: 13px;
    }
    .biotitle {
        margin-top: 15px;
        text-align: center;
        font-weight: bold;
        font-size: 40px;
        color: #212529;
    }
}

@media only screen and (min-width:434px) and (max-width: 478px) {
    .prof1 {
        font-size: 29px;
    }
    .biotitle {
        margin-top: 15px;
        text-align: center;
        font-weight: bold;
        font-size: 40px;
        color: #212529;
    }

    .credit {
        font-size: 13px;
    }
}

@media only screen and (min-width:240px) and (max-width: 433px) {
    .prof1 {
        font-size: 24px;
    }

    .biotitle {
        margin-top: 15px;
        text-align: center;
        font-weight: bold;
        font-size: 40px;
        color: #212529;
    }

    .img1 {
        width: 200px;
        border-radius: 50%;
    }

    .chevronleft1 {
        width: 75px;
    }

    .chevronright1 {
        width: 75px;
    }

    .input-group {
        width: 300px !important;
        margin: 0 auto;
    }

    .bio {
        margin-left: 25px;
        margin-right: 25px;
        margin-top: 10px;
        text-align: center;
        font-size: 22px;
    }



}

@media only screen and (min-width:0px) and (max-width: 240px) {
    .prof1 {
        font-size: 29px;
    }
    .biotitle {
        margin-top: 15px;
        text-align: center;
        font-weight: bold;
        font-size: 40px;
        color: #212529;
    }
    .bio {
        margin-left: 25px;
        margin-right: 25px;
        margin-top: 10px;
        text-align: center;
        font-size: 22px;
    }
}

@media only screen and (min-width:240px) and (max-width: 342px) {
    .prof1 {
        font-size: 16px;
    }
    .input-group {
        width: 250px !important;
        margin: 0 auto;
    }
    .biotitle {
        margin-top: 15px;
        text-align: center;
        font-weight: bold;
        font-size: 40px;
        color: #212529;
    }
}

@media only screen and (min-width:478px) and (max-width: 714px) {
    .prof1 {
        font-size: 33px;
    }
    .biotitle {
        margin-top: 15px;
        text-align: center;
        font-weight: bold;
        font-size: 40px;
        color: #212529;
    }
}







/*.col-	 à 576px
.col-sm-	 à 567px.
.col-md-	 à 768px
.col-lg-	 992px
.col-xl-	​​​​​​​ 1200px. */